DATABASE_URL="postgresql://learnmyfavs:learnmyfavs@localhost:5432/learnmyfavs?schema=public"
SPOTIFY_CLIENT_ID="your-spotify-client-id"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://127.0.0.1:3000"
